body{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}
p{
margin: 0;
padding: 0;
display: inline;
}

.static_header{
z-index: 9999999;
display: flex;
position: fixed;
justify-content: center;
align-items: center;
flex-wrap: wrap;
cursor: pointer;
width: 100%;
height: 40px;
background: #000;
transition: 0.5s;
font-size: 14px;
font-weight: 500;
&:hover{
height: 43px;
transition: 0.5s;
}
}
span{
color: white;
}
.static_header-participation{
border: 3px solid blue;
background: #3e67d2;
margin-left: 5px;
padding: 2px 5px 2px 10px;
border-radius: 30px;
}
@media(max-width: 970px){
.static_header-participation{
border-radius: 100px;
color: #fff;
padding: 5px 10px 5px 15px;
font-size: 12px;
margin-left: 8px; 
width: 20px;
& p{
display: none;
}
}
.static_header-media{
display: none;
}
}
    
.wrapper{
max-width: 1230px;
margin: 0 auto;
padding-left: 30px;
padding-right: 30px;
position: relative;
// border: 2px solid black;
}
.header{
box-sizing: border-box;
// border: 5px solid #33ff00;
padding-top: 40px;
height: 100%;
min-height: 950px;
box-shadow: 0 14px 43px rgba(0,0,0,.12);
overflow: hidden;
color: #fff;
background-size: 250% 250%;
background-size: 250% 250%;
background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
background-size: 400% 400%;
-webkit-animation: Gradient 22s ease infinite;
-moz-animation: Gradient 22s ease infinite;
animation: Gradient 22s ease infinite;
}
@-webkit-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
    }
     
    @-moz-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
    }
     
    @keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
    }
.heading{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
margin-top: 37px;
width: 100%;
height: 100%;
// border: 2px solid red;
.heading_logo{
font-size: 25px;
font-weight: 700;
margin-left: -100px;
& a{
text-decoration: none;
color: white;
}
}
}
.heading__menu ul li{
position: relative;
display: inline-block;
list-style: none;
box-sizing: border-box;
& a{
text-decoration: none;
color: white;
font-size: 15px;
padding: 6px 12px;
margin-left: 5px;
margin-right: 5px;
border: 2px solid rgba(0, 0, 0, 0.0);
&:hover{
border-radius: 100px;
border: 2px solid white;
transition: all .3s ease; 
}
}
}
.heading__menu ul{
padding-left: 0;
}
@media(max-width: 630px){
.heading__menu ul{
margin-left: 0;
padding: 0;
}
}
.header_content{
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 100%;
height: 100%;
// height: 500px;
margin-left: -15px;
margin-right: -15px;
margin-top: 10vh;
// border: 2px solid white;
}
@media(max-width: 950px){
.header_content{
margin-top: 10vh;
}
}
.registration_window{
position: relative;
width: 40%;
height: 100%;
background: #fff; 
box-sizing: border-box;
border-radius: 30px; 
// box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 0px 5px 42px 29px rgba(169,221,255,0.76);

}
.form_block-head{
margin-bottom: -25px;
min-height: 90px;
background: rgb(233, 248, 248);
border-radius: 20px 20px 0 0;
padding: 30px 38px 30px;
}
.form_block-title{
color: black;
text-align: center;
font-size: 16px;
font-weight: 700;
}
.form_block-subtitle{
color: black;
text-align: center;
font-size: 14px;
margin-top: 15px;
}
.form_block-body{
padding: 0 38px 50px;
background: #fff; 
border-top: 4px solid rgb(204, 204, 204);
text-align: center;
border-radius: 30px;
}

// ___________________________________________________________

.common-form__input{
width: 100%;
background-color: transparent;
border: none;
border-bottom: 1px solid #bdc6c8;
padding-bottom: 13px;
color: #8e989a;
margin-top: 16px;
margin-bottom: 5px;
background: #fff; 
}
.common-form .red {
color: red;
font-size: 12px;
margin-top: -5px;
}
.common-form .tal {
text-align: left;
display: block;
}

label {
cursor: default;
}
.common-form__btn{
color: #fff;
width: 100%;
background-color: #ed336c;
border-radius: 5px;
height: 50px;
font-family: neosanspro,sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 30px;
margin-top: 25px;
cursor: pointer;
}
button {
border: none;
}
.common-form__btn:hover {
background-color: #da1350;
}
.ofer{
text-align: center;
color: gray;
font-size: 14px;
}
#wlpeTosCheckboxLabel{
& span{
text-align: center;
}
& a{
text-decoration: none;
text-align: center;
color: #01bcd4;
font-size: 14px;
}
& input{
margin: 3px 3px 3px 3px;    
}   
}
.form-block__enter{
text-align: center;
color: #01bcd4;
font-size: 14px;
text-decoration: none;
& span {
color: gray;
font-size: 14px;
}
}
.form_block{
text-align: center;
}